In [1]:
# 8.1 EDA Demonstration
import pandas as pd
%matplotlib inline

In [2]:
# We will store the orders table csv data in a variable
# Tabs are used as the separating character in this file
data = pd.read_csv("orders.csv")

In [8]:
# Use the head method to investigate the first row of data
data.head(1)

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0

In [15]:
# Create a dataframe to view the column names and data types
datadf = pd.DataFrame(data)
datadf.columns
datadf.dtypes

order_id        object
order_date      object
ship_date       object
ship_mode       object
customer_id     object
product_id      object
sales          float64
quantity         int64
discount       float64
profit         float64
postal_code    float64
region_id      float64
dtype: object

In [18]:
# Use the shape attribute to determine the amount of rows and columns total
data.shape

(999991, 12)

In [19]:
# Use the .columns property to list out the column names
# Use the .index.name property to identify the index
datadf.columns
datadf.index
#index from 0 to 999991

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'product_id', 'sales', 'quantity', 'discount', 'profit', 'postal_code',
       'region_id'],
      dtype='object')

In [22]:
# Provide a dictionary to the rename method to rename any columns
# The inplace flag determines whether to modify the original dataframe

In [24]:
# Explore columns with column attributes and methods
datadf.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'product_id', 'sales', 'quantity', 'discount', 'profit', 'postal_code',
       'region_id'],
      dtype='object')

In [4]:
# 8.2 Exploring a new dataset
# Import the products.csv dataset and explore the following questions:
datap = pd.read_csv("products.csv")
datap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10292 entries, 0 to 10291
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   product_id                10292 non-null  object
 1   category                  10292 non-null  object
 2   sub_category              10292 non-null  object
 3   product_name              10292 non-null  object
 4   product_cost_to_consumer  10292 non-null  float64
dtypes: float64(1), object(4)
memory usage: 402.2+ KB

In [ ]:
# A. What are the columns and index: do they suggest any relationship to other tables?
#column categorize the table into types but index shows the number of data rows

In [27]:
# B. How many rows of data are there?
datap.index
#there are a total of 10292 rows

RangeIndex(start=0, stop=10292, step=1)

In [34]:
# C. What are the types of each column?
datap.columns

Index(['product_id', 'category', 'sub_category', 'product_name',
       'product_cost_to_consumer'],
      dtype='object')

In [18]:
# 8.3 Boolean Filtering
# Let's return to the orders dataset for the rest of the challenges
# Use boolean filtering and DataFrame/DataSeries methods to solve the following challanges:
data.head(4)

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1410.0

In [26]:
# A. What is the mean profit of orders where the ship_mode is "Second Class"

data_sc = data[data["ship_mode"] == "Second Class"]

#print(data_sc)

data_sc[["profit"]].mean()

profit    1.658624
dtype: float64

In [3]:
# B. Which product is the most commonly ordered on 2017-06-08 
data_date = data[data["order_date"] == "2017-06-08"] 
data_date.value_counts("product_id")

product_id
OFF-ST-10001963     4
OFF-AR-10003875     3
TEC-AC-10001840     3
OFF-ST-10001426     3
OFF-AR-10003774     2
                   ..
OFF-BI-10000590     1
OFF-AVE-10002024    1
OFF-AVE-10000608    1
OFF-AR-10004881     1
TEC-SAN-10000235    1
Length: 308, dtype: int64

In [4]:
# 8.4 Sorting and Filtering
data.dtypes

order_id        object
order_date      object
ship_date       object
ship_mode       object
customer_id     object
product_id      object
sales          float64
quantity         int64
discount       float64
profit         float64
postal_code    float64
region_id      float64
dtype: object

In [14]:
# A. What are the three most profitable orders purchased by customer PO-8865?
data_cus = data[(data["customer_id"] == "PO-8865") ][["product_id", "profit"]]

data_cus.nlargest(3,"profit")

             product_id  profit
608    TEC-HEW-10002304  190.80
28981  OFF-BIN-10004729   65.28
3946   TEC-SHA-10004874   61.68

In [20]:
# B. What are the five orders of product_id TEC-HEW-10002304 with the highest quanitity?
data_or = data[(data["product_id"] == "TEC-HEW-10002304")][["order_id", "quantity"]]

data_or.nlargest(5, "quantity")

            order_id  quantity
581  AG-2017-1949725         6
608     AG-2017-2220         6
719   AG-2017-331077         6
734  AG-2017-3462496         6
743  AG-2017-3616897         6

## Recap

We covered a lot of ground! It's ok if this takes a while to gel.

```python

# basic DataFrame operations
df.head()
df.tail()
df.shape
df.columns
df.Index

# selecting columns
df.column_name
df['column_name']

# renaming columns
df.rename({'old_name':'new_name'}, inplace=True)
df.columns = ['new_column_a', 'new_column_b']

# notable columns operations
df.describe() # five number summary
df['col1'].nunique() # number of unique values
df['col1'].value_counts() # number of occurrences of each value in column

# filtering
df[ df['col1'] < 50 ] # filter column to be less than 50
df[ (df['col1'] == value1) & (df['col2'] > value2) ] # filter column where col1 is equal to value1 AND col2 is greater to value 2

# sorting
df.sort_values(by='column_name', ascending = False) # sort biggest to smallest

```


It's common to refer back to your own code *all the time.* Don't hesistate to reference this guide! 🐼